*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html, body {
  height: 100%;
}

body{
  font-family: sans-serif;
}

.App {
  margin: 10px auto;
  width: 200px;
}

.item-div{
  padding: 20px 5px;
  border: 1px solid black;
  margin: 2px;
  text-align: left;
  font-size: 12px;
}